<header class="navbar navbar-expand-lg">
  <nav class="container-xxl bd-gutter flex-wrap glax-lg-nowrap" data-bs-theme="dark">
    <a class="navbar-brand" href="/recipes/">
      <img src="{{ site.logo }}" alt="{{ site.title }}" width="75" height="75">
    </a>
    <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-6 mb-2 mb-lg-0">
        {% for item in site.data.navigation %}
        <li class="nav-item">
          <a class="nav-link {% if page.url == item.link %}active{% endif %}" {% if page.url == item.link %}aria-current="page"{% endif %} href="{{ item.link }}">
          {{ item.name }}
          </a>
        </li>
        {% endfor %}  
      </ul>
      <form action="/search.html" method="get" class="ms-auto d-flex" role="search">
        <input class="form-control me-2" type="text" placeholder="Kiwi Apple Banana" id="search-box" aria-label="Search" name="query">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

