---
---
@import "main";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');

body {
    background-color: white !important;
}

h1 {
    font-family: 'Roboto', serif;
    font-weight: 500 !important;
    font-size: 2rem;
}

h2 {
    font-family: 'Roboto', serif;
    font-weight: 400 !important;
    font-size: 1.5rem;
}
$thumbnail-border-radius:                 .5rem;
.thumbnail {
  height: 8.9em;
  width: 100%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

#content {
    margin-top: 2rem;
}

.recipe-post {
    margin-bottom: 3rem;
}

.recipe-post h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Roboto', serif;
    font-size: 1.25rem;
}

.recipe-post a {
    text-decoration:  none;
    color: var(---bs-primary);
}


.container {
    max-width: 1280px !important;
    min-height: 100%;
    margin-top: 2rem;
    padding-top: 2rem;
}

.page-title {
    font-family: 'Roboto', serif;
    font-size: 2rem;
}

.category-list {
    margin-bottom: 4rem;
    .btn {
        margin: 0.3em 0.2em;
    }
}

.nav-link {
    font-family: 'Roboto', serif;
    font-size: 1.5rem !important;
    margin-left: 0.2rem;
}

.ingredients {
    background-color: #f7f7f7 !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 16px;
    height: auto;
    ol {
        margin-bottom: 0;
        word-wrap: break-word;
    }
    
    h2 {
        margin-left: 0.9rem;
    }
    
}
.steps {
    background-color: white !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    border-radius: 16px;
    ol {
        margin-bottom: 0;
    }
    h2 {
        margin-left: 0.9rem;
    }
}

.container .medium {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0;
}

.time-indicator {
    margin-top: 1rem !important;
    margin-bottom: 0.2rem;
    p {
        font-family: 'Roboto', serif;
        font-weight: 500 !important;
        font-size: 1rem;
        margin-top: -0.2rem;
        padding-left: 0.3rem;
    }
    svg {
        padding-right: 0;
    }
}

.recipe-description p {
    font-family: 'Roboto', serif;
    font-weight: 400 !important;
    font-size: 1rem;
}

.author {
    text-decoration:  none;
    color: var(--text-primary);
}

.author:hover {
    text-decoration:  none;
    color: var(--bs-primary);
}

.categories {
    text-decoration:  none;
    color: var(--text-primary);
}

.categories:hover {
    text-decoration:  none;
    color: var(--bs-primary);
}

.timer {
    padding-top: 0.2rem;
}

.timer p {
    font-family: 'Roboto', serif;
    font-weight: 300 !important;
    font-size: 1rem;
    margin-top: -0.2rem;
    padding-left: 0rem;
}

.timer svg {
    padding-right: 0.2rem;
}
