---
layout: recipe-grid
---

{{ content }}

<div class="text-center justify-content-center row">
    <h1 class="page-title">{{ page.name }} Recipes</h1>
    <div class="category-list col-md-6 row justify-content-center gx-5">
        {% assign sorted_categories = site.categories | sort: 'order' %}
        {% for category in sorted_categories %}
            <a href="{{ site.baseurl }}/categories/{{ category.category }}" class="col-auto btn btn-outline-primary {% if page.category and page.category == category.name %}active{% endif %} ">{{ category.name }}</a>
        {% endfor %}
    </div>
</div>